{% extends 'base.html' %}
{% block content %}
{% include 'Slider.html' %}

<body>
{% for i in s %}

<div class="w3-container">


  <div class="w3-card-4" style="width:50%;">
    <header class="w3-container w3-blue">
      <h1>{{i.title}}</h1>
    </header>

    <div class="w3-container">
      <img src ="{{i.img.url}}" class="w3-round" alt ="Norway">
      <p>{{i.description}}</p>
    </div>

    <footer class="w3-container w3-blue">
      <h5>Footer</h5>
    </footer>
  </div>
</div>

</body>
</html>
{% endfor %}
<p></p>
{% endblock content %}

